/*Debugging
	body {
		background-color: LightGray;
	}
	div {
		border: 1px solid Chocolate;
	}
End of debugging*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Reset*/

/*Start of CSS*/


.content {
	padding:0 15px;
	margin: 0 auto;
	width: 970px;
}

/*Navigation Section*/


.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {

	height: 70px;

}

.top-navigation .logo {
	height: 70px;
}

.top-navigation .links{
	float: right;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;

}

.top-navigation .links li {
	margin-left: 25px;
	display: inline-block;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 600;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.top-navigation a {
	color: #838994;
	text-decoration: none;
}
/*Introduction Section*/
.introduction {
	background-image: url('../img/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introduction h1, .introduction h3{
	color: white;
	text-align: center;
	font-weight:; 300;
}
.introduction h1 {
	font-size: 3.125rem;
	margin-top: 10rem;
}

.introduction h3 {
	font-size: 1.563rem;
	margin-top: 1.25rem;
}

.buttons {
	margin-top: 1.563rem;
}

.introduciton .half {
	display: inline-block;
	line-height: 1.2;
	font-size: 1.125rem;
	width: 49%;
}

button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	width: 9.688 rem;
	background-color: #f15a29;
	font-size: 10px;
	color: white;
	font-size: 1.125rem;
}

/* Cases section */
.cases {
	overflow: hidden;
	padding-bottom: 10rem;
}

.cases .content{
	margin-top: 7.875rem;
	color: #1d1e21;
	text-align: center;
}

.cases h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}

.cases .devices {
	display: flex;
	/*Styles to assist with debugging
	box-sizing: border-box;
	border: 1px solid black;
	height: 4em;*/
}

.cases .devices > li {
	width: 33.33%;
	padding: 10px;
}


.cases .devices h3 {
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
}

.cases .devices p {
	font-weight: 300;
	font-size: 1.313rem;
}